body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}
section{
    display: flex;
    flex-direction: column;
}
.product1{
    width: 100%;
    padding: 0 210px;
    display: flex;
    height: auto;
    flex-direction: row;
}
.trans{
    width: 100%;
    height: 50%;
}
.card{
    width: 575px;
    height: 575px;
    border: none;
}
.content{
    width: 445px;
    height: 575px;
}

.card-content{
    width: 575px;
    height: 575px;
    background: #F2F6FF;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
}

.card-1, .card-2, .card-3{
    background: white;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.card-1{
    width: 438px;
    height: 125px;
    margin: 108px 68px 0 68px;
}
.card-2{
    width: 350px;
    height: 100px;
    margin: 25px 112px 0 112px;
}
.card-3{
    width: 262px;
    height: 75px;
    margin: 25px 157px 117px 157px;
}
.card-1-content{
    display: flex;
    flex-direction: row;
}
.initial-1{
    padding: 25px;
}
.initial-2{
    padding: 20px;
}
.initial-3{
    padding: 15px;
}
.c-1{
    width: 75px;
	height: 75px;
    font-size: 22px;
}
.c-2{
    width: 60px;
    height: 60px;
    font-size: 18px;
}
.c-3{
    width: 45px;
    height: 45px;
    font-size: 13px;
}
.c-1 h1{
    font-size: 22px;
    line-height: 29px;
}
.c-2 h1{
    font-size: 18px;
    line-height: 24px;
}
.c-3 h1{
    font-size: 13px;
    line-height: 17px;
}
.nama{
	background: rgba(242, 246, 255, 1);
	border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nama h1{
    font-family: 'Nunito';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    color: #234CAD;
}

.notif-1 {
    position: absolute;
    background-color:rgba(35, 76, 173, 1);
    width: 20px;
    height: 20px;
    margin-top: -25px;
    margin-left: 5px;
    color: white;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    border-radius: 100%;
}
.notif-2 {
    position: absolute;
    background-color:rgba(35, 76, 173, 1);
    width: 16px;
    height: 16px;
    margin-top: -12px;
    margin-left: 5px; 
    color: white;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    border-radius: 100%;
}
.notif-3 {
    position: absolute;
    background-color:rgba(35, 76, 173, 1);
    width: 12px;
    height: 12px;
    margin-top: -8px;
    margin-left: 5px;
    font-size: 0.4em;
    line-height: 20px;
    color: white;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    border-radius: 100%;
}
.tc-1, .t-1 {
    padding-top: 34px;
}
.tc-2, .t-2 {
    padding-top: 28px;
}
.tc-3, .t-3 {
    padding-top: 22px;
}
.tc-1{
    flex-grow: 2;
    height: 125px;
}
.tc-2{
    flex-grow: 2;
    height: 100px;
}
.tc-3{
    flex-grow: 2;
    height: 75px;
}
.text-content h1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    color: #234CAD;
}

.text-content p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    color: #234CAD;
}

.c-1 p{
    font-size: 15px;
    line-height: 26px;
}
.c-2 p{
    font-size: 12px;
    line-height: 21px;
}
.c-3 p{
    font-size: 9px;
    line-height: 16px;
}
.time{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    color: #234CAD;
    mix-blend-mode: normal;
    opacity: 0.75;
}
.t-1{
    font-size: 12px;
    line-height: 16px;
}
.t-2{
    font-size: 10px;
    line-height: 13px;
}
.t-3{
    font-size: 7px;
    line-height: 10px;
}

.content{
    display: flex;
    flex-direction: column;
}
.maintext{
    width: 350px;
    height: 200px;
    font-family: 'Nunito';
    font-style: normal;
    margin: 108px 0 25px 100px;
}

.maintext h1{
    font-weight: bold;
    font-size: 50px;
    line-height: 56px;
    color: #234CAD;
}

.bodytext{
    width: 304px;
    height: 52px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #234CAD;
    margin: 0 36px 50px 100px;
}

button{
    height: 65px;
    width: 200px;
    border-radius: 32.5px;
    border: 2px solid #234CAD;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #234CAD;
    background-color: transparent;
    margin: 0 140px 107px 100px;
}
.product2{
    width: 100%;
    height: 908px;
}
.card-title{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #234CAD;
}
.card-text{
    margin-top: 25px;
    padding: 0 500px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #234CAD;
}
.content-2{
    padding: 0 100px;
}
.card-content-2{
    border-radius: 60px;
    height: 575px;
    width: 1240px;
    background-color: #F2F6FF;
}
.cp1{
    position: absolute;
    height: 160px;
    width: 276px;
    left: 597px;
    top: 950px;
    border-radius: 25px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cp1-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -60px;
}
.cp1-img{
    padding: 20px;
}
.cp1-content{
    margin-top: 18px;
}
.cp1-content h1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #234CAD;
}
.cp1-content p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #234CAD;
}
.cp1-client{
    display: flex;
    flex-direction: row;
    margin-left: -105px;
}
.cp1-client h1{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #F2F6FF;
    border: 2px solid #FFFFFF;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #234CAD;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.client2{
    margin-left: -10px;
}
.cp2{
    position: absolute;
    height: 100px;
    width: 350px;
    left: 898px;
    top: 952px;
    border-radius: 20px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cp2-img{
    margin-left: -60px;
    padding-right: 30px;
}
.cp2-content{
    margin-top: 10px;
}
.cp2-content h1{
    font-family: 'Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #234CAD;
}
.cp2-content p{
    font-family: 'Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #234CAD;
}
.cp3{
    position: absolute;
    height: 100px;
    width: 350px;
    left: 222px;
    top: 1053px;
    border-radius: 25px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}
.img{
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-right: 20px;
    border-radius: 100%;
    background: #F2F6FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cp3-content{
    margin-top: 10px;
}
.cp3-content h1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #234CAD;
}
.cp3-content p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #234CAD;
}
.cp4{
    position: absolute;
    height: 100px;
    width: 350px;
    left: 698px;
    top: 825px;
    border-radius: 25px;
    background: #FFFFFF;
}
.cp5{
    position: absolute;
    height: 100px;
    width: 350px;
    left: 597px;
    top: 1130px;
    border-radius: 20px;
    background: #FFFFFF;
}
.cp6{
    position: absolute;
    height: 160px;
    width: 130px;
    left: 597px;
    top: 1248px;
    border-radius: 25px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cp6 img{
    padding: 20px 20px 0 20px;
}
.cp6 p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #234CAD;
}
.cp7{
    position: absolute;
    height: 75px;
    width: 75px;
    left: 497px;
    top: 1180px;
    border-radius: 20px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.cp8{
    position: absolute;
    height: 75px;
    width: 75px;
    left: 597px;
    top: 850px;
    border-radius: 20px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;   
}